.container{
  position: relative;
  display: block;
  text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}
#input{
  float: right;
  padding: 10px 12px;
}
